<div class="container-fluid">
  <div class="row">
    <!--card 1 -->
    <div class="col-sm-4 mx-auto">
      <div class="round-corners mt-3 card p-2">
        <div class="card-header">
          <h2 class="card-title font-weight-bold">Pacific Ocean</h2>
        </div>
        <img class="card-img-top" src="https://img5.goodfon.com/original/1920x1080/5/a1/wave-water-ocean-sunset.jpg"
          alt="Card image cap">
        <div class="card-body">
          <p class="card-text">
            The Pacific Ocean is the largest and deepest of Earth's oceanic divisions. It extends from the Arctic Ocean
            in
            the north to the Southern Ocean in the south and is bounded by the continents of Asia and Australia in the
            west and the Americas in the east.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mx-auto">
      <div class="round-corners mt-3 card p-2">
        <div class="card-header">
          <h2 class="card-title font-weight-bold">Pacific Ocean</h2>
        </div>
        <img class="card-img-top" src="https://img5.goodfon.com/original/1920x1080/5/a1/wave-water-ocean-sunset.jpg"
          alt="Card image cap">
        <div class="card-body">
          <p class="card-text">
            The Pacific Ocean is the largest and deepest of Earth's oceanic divisions. It extends from the Arctic Ocean
            in
            the north to the Southern Ocean in the south and is bounded by the continents of Asia and Australia in the
            west and the Americas in the east.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mx-auto">
      <div class="round-corners mt-3 card p-2">
        <div class="card-header">
          <h2 class="card-title font-weight-bold">Pacific Ocean</h2>
        </div>
        <img class="card-img-top" src="https://img5.goodfon.com/original/1920x1080/5/a1/wave-water-ocean-sunset.jpg"
          alt="Card image cap">
        <div class="card-body">
          <p class="card-text">
            The Pacific Ocean is the largest and deepest of Earth's oceanic divisions. It extends from the Arctic Ocean
            in
            the north to the Southern Ocean in the south and is bounded by the continents of Asia and Australia in the
            west and the Americas in the east.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <!--card 2 -->
      <div class="col-sm-6 mx-auto">
        <div class="round-corners mt-3 card p-2">
          <app-divider>
            California Beaches
          </app-divider>
          <!-- <app-placeholder [header]="true"></app-placeholder> -->
          <app-placeholder [lines]="5"></app-placeholder>
        </div>
      </div>
      <!--card 3 -->
      <div class="col-sm-6 mx-auto">
        <div class="round-corners mt-3 card p-2">
          <h2 class="card-title font-weight-bold">
            <app-divider>
              Segment Component
            </app-divider>
            <app-segment></app-segment>
          </h2>
        </div>
      </div>
      <!--row-->
    </div>
    <!--container-fluid-->
